@font-face {
	font-family: Gebril;
	src: url("../fonts/Gerbil-Font/gerbil.otf");
}
* {
	font-family: Gebril;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #1c1c1c;
	background-color: rgb(225, 223, 223);
}
body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #1c1c1c;
}

/* Navbar styles */
.navbar {
	width: 100%;
	padding: 0% 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15dvh;
	background-color: #1c1c1c;
}
.logo-container {
	width: max-content;
	display: flex;
	align-items: center;
}
.logo-text {
	color: #fae6c7;
	text-decoration: none;
	width: 100%;
	font-size: 1rem;
}
.nav-links {
	display: flex;
	gap: 1em;
}
.nav-link {
	text-decoration: none;
	color: #fae6c7;
	font-size: 0.7rem;
}

/* Submit btn styles */
@keyframes btn-anim1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}
.nav-link-container {
	position: relative;
	margin: auto;
}
.nav-link {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
}
.nav-link:hover {
	cursor: pointer;
}
.nav-link span {
	position: absolute;
	display: block;
}
.nav-link span:nth-child(1) {
	bottom: 2px;
	left: -100%;
	width: 100%;
	height: 2px;
}
.nav-link:hover span:nth-child(1) {
	background: linear-gradient(90deg, transparent, #fae6c7);
	animation: btn-anim2 2s linear infinite;
}
.nav-btns {
	display: flex;
	width: max-content;
	align-items: center;
	gap: 5%;
	margin-right: 70px;
	margin-left: 70px;
}
#profile-btn {
	height: max-content;
}
.profileimage {
	background-color: transparent;
	border: none;
	border-radius: 25px;
	width: 40px;
	height: 40px;
}
.profileimage:hover {
	cursor: pointer;
	box-shadow: 0 0 2px #fae6c7, 0 0 5px #fae6c7, 0 0 10px #fae6c7,
		0 0 10px #fae6c7;
}
#profileimg {
	width: 100%;
	height: 100%;
}
.nav-btn {
	background: none;
	background-color: transparent;
	white-space: nowrap;
	border: 1px solid #fae6c7;
	padding: 10px 20px;
	height: min-content;
	height: max-content;
	color: #fae6c7;
}
.nav-btn:hover {
	box-shadow: 0 0 2px #fae6c7, 0 0 5px #fae6c7, 0 0 10px #fae6c7,
		0 0 10px #fae6c7;
}
/* Search Input */
.search-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 2em;
}
.input-container {
	width: 100%;
	position: relative;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: calc(50% + 5px);
	transform: translateY(calc(-50% - 5px));
	background: none;
	border: none;
}

.input {
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	transition: 0.2s linear;
	border: 2.5px solid black;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.input:focus {
	outline: none;
	border: 0.5px solid black;
	box-shadow: 5px 5px 0px black;
}

.input-container:hover > .search-icon {
	animation: anim 1s linear infinite;
}

@keyframes anim {
	0%,
	100% {
		transform: translateY(calc(-50% - 5px)) scale(1);
	}

	50% {
		transform: translateY(calc(-50% - 5px)) scale(1.1);
	}
}
/* Page Content */
.page-content {
	display: flex;
	flex-direction: column;
	padding: 5%;
	padding-bottom: 0.5%;
	max-height: 85vh;
	overflow-y: scroll;
}
.main-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	max-height: max-content;
	overflow-y: scroll;
}
/* Filter Section */
.filters-top {
	display: flex;
	justify-content: space-between;
}
.filter-section {
	display: flex;
	flex-direction: column;
	width: 25%;
}
.filter-section > h3 {
	margin-bottom: 5%;
}
.filter-title:not(.filter-section h3) {
	letter-spacing: 2px;
	margin-bottom: 3%;
}
.filters {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
/* Price Filter */
.price-filter {
	display: flex;
	flex-direction: column;
}
.content {
	width: 90%;
}

.slider {
	display: block;
	position: relative;
	height: 36px;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.slider-touch-left,
.slider-touch-right {
	box-sizing: border-box;
	display: block;
	position: absolute;
	height: 36px;
	width: 36px;
	padding: 6px;
	z-index: 2;
}

.slider-touch-left span,
.slider-touch-right span {
	display: block;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
	border: 1px solid #a4a4a4;
	border-radius: 50%;
}

.slider-line {
	box-sizing: border-box;
	position: absolute;
	width: calc(100% - 36px);
	left: 18px;
	top: 16px;
	height: 4px;
	border-radius: 4px;
	background: #f0f0f0;
	z-index: 0;
	overflow: hidden;
}

.slider-line span {
	display: block;
	height: 100%;
	width: 0%;
	background: orange;
}
.prices-result {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.prices-result > span {
	letter-spacing: 2px;
	white-space: nowrap;
}
/* Location Filters */
.location-filter {
	position: relative;
	margin-bottom: 30px;
}

.location-search {
	position: absolute;
	width: 100%;
}

.chosen-value,
.value-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	z-index: 999;
}

.chosen-value {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	height: 2rem;
	font-size: 0.7rem;
	padding: 1rem;
	background-color: #fafcfd;
	border: 3px solid transparent;
	transition: 0.3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder {
	color: #333;
}

.chosen-value:hover {
	background-color: #fafcfd;
	cursor: pointer;
}

.chosen-value:focus,
.chosen-value.open {
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	outline: 0;
	background-color: #a09898;
	color: #ffffff;
}

.chosen-value:focus::-webkit-input-placeholder,
.chosen-value.open::-webkit-input-placeholder {
	color: #fff;
}

.value-list {
	list-style: none;
	margin-top: 2.1rem;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	max-height: 0;
	transition: 0.3s ease-in-out;
}

.value-list.open {
	max-height: 128px;
	overflow: auto;
}

.value-list li {
	position: relative;
	height: 2rem;
	background-color: #fafcfd;
	padding: 1rem;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
	opacity: 1;
}

.value-list li:hover {
	background-color: #ff908b;
}

.value-list li.closed {
	max-height: 0;
	overflow: hidden;
	padding: 0;
	opacity: 0;
}
/* Category Filter */
/* Hide the default checkbox */
.category-filter {
	/* position: absolute; */
	width: 100%;
}
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
}

/* Create a custom checkbox */
.checkbox-group {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
/* Hide the default checkbox */
.checkbox-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-container {
	display: flex;
	gap: 1em;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
	width: min-content;
}
.checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: #fff;
	border-radius: 0.2pc;
	box-shadow: 3px 3px grey;
}

/* When the checkbox is checked, add a blue background */
.checkbox-input:checked ~ .checkmark {
	background-color: #5ee429;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.25em;
	height: 0.5em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
}
/* Display Art Section */
.art-display {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-content: center;
	column-gap: 50px;
	row-gap: 30px;
}
.art-display::-webkit-scrollbar {
	width: 0.5em;
}

.art-display::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.art-display::-webkit-scrollbar-thumb {
	background-color: #666666;
}
.card-img-container {
	display: flex;
	align-items: flex-end;
}
.card-img {
	width: 100%;
	height: 100%;
}
.card-text {
	padding: 10px;
	background-color: #fafcfd;
	letter-spacing: 2px;
}
/* Submit Button */
.submit-btn {
	position: relative;
	cursor: pointer;
	width: max-content;
	align-self: flex-end;
	padding: 2% 0;
}

.submit-btn a {
	background-color: white;
	border-radius: 5px;

	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 2px;
}
.submit-btn a:hover {
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	background-color: #1c1c1c;
	cursor: pointer;
}
/* Footer Styles */
footer {
	display: flex;
	padding: 5% 5%;
	justify-content: space-between;
	background-color: #302c1b;
}
.footer-heading {
	color: #fae6c7;
	font-size: 1rem;
}
.footer-left {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.footer-left p {
	color: #fff;
	font-size: 0.8rem;
}
.footer-center {
	width: 30%;
	display: flex;
	gap: 5%;
}
.footer-center div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10%;
}
.footer-center div a {
	text-decoration: none;
	white-space: nowrap;
	font-size: 0.8rem;
	color: #fff;
}
.footer-center div a:hover {
	color: #fae6c7;
}
